{{- define "main" }}
<article class="post">
  <div class="post-content">
    {{- with .Content }} {{ . }} {{- end }} {{- /* list items */}} {{- if eq
    .Params.list_type "docs_list" }} {{- $paginator := .Paginate .Pages -}}
    <ul>
      {{- range $paginator.Pages }}
      <li>
        <a href="{{ .Permalink }}">
          {{- if .Title -}} {{- .Title | markdownify -}} {{- else -}} {{-
          .File.TranslationBaseName | markdownify -}} {{- end -}}
        </a>
      </li>
      {{- end -}}
    </ul>
    {{- else }} {{- partial "post-entries.html" . -}} {{- end }}
  </div>

  <footer class="post-footer">{{- partial "pagination.html" . -}}</footer>
</article>
{{- end }}
