{{- /* site copyright */}}
<div class="copyright">
  <p>
    {{- if site.Params.Copyright -}}
      {{ site.Params.Copyright | safeHTML }}
      {{ now.Year }}
    {{- end -}}

    {{- if site.Params.CopyrightUserUrl -}}
      <span>&nbsp;</span>
      {{- /* site copyright url */ -}}
      <a href="{{ site.Params.CopyrightUserUrl }}">
        {{- if site.Params.CopyrightUserText -}}
          {{- site.Params.CopyrightUserText -}}
        {{- else -}}
          {{- site.Params.CopyrightUserUrl -}}
        {{- end -}}
      </a>
    {{- end -}}
  </p>

